<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <script type="text/javascript" src="../static/d3/d3.v4.js"></script>
    <title>Data Visualization on Education</title>

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg sticky-top">

            <button class="navbar-toggler navbar-dark bg-dark" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapse_target">

                <a class="navbar-brand" href="/"> <img src="../static/assets/EduLogo.png" alt="logo" class="logo"></a>

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="aLevels">ALevels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gsce">GSCE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="keystage">KeyStage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="language">Language</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="international">International</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="workingage">NVQ4+</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="education">Education</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <div class="about">
        <p>Education in London is a Web Application illustrating interactive visuals. It is open to the public to
            visualize different sectors of education, from the past and present. The main objective is for the
            authorities to form an analysis from the graphs to determine the lack of investments and solutions for the
            educational system in London. The application uses the data available on <a href ="https://data.london.gov.uk/">London Datastore</a>, as the Greater
            London Authority has worked closely to develop the system.
        </p>
        <p>The application is straightforward and easy to navigate. The header consists of seven unique graphs to
            visualize from, topics ranging from results to higher education and beyond. As mentioned, all figures have
            interactive functionalities, which provide additional information in a simple but aesthetic process. The
            interactions consist of options, sliders and buttons; it is clear what they are able to do and are simple
            to execute. All graphs can only be visualized individually. If comparisons between two graphs or more are
            needed, a new window/tab running the application is required. Please do have a look around, and gain
            insights on different areas of education.

        </p>
    </div>


    <div class="homepage">
        <img src="../static/assets/cityOfLondon.png" class="img-fluid">
    </div>

</body>

</html>